html{
    box-sizing: border-box;
    
}
*,*:before,*:after{
    box-sizing: inherit;
} 
body{
   padding:0px;
   margin: 0px;
   background-color: white;
}
.Home-panel{
    
   position: relative;
   text-align: center;
   background-image: url(./img/home.png);
   background-size: cover;
}
.Home-section,.Home-image{
    display: inline-block;
   
}
.Home-panel table{
    width: 100%;
}


.Home-section a h1{
   color: white;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   
}
.Home-section a {
   text-decoration: none;
    
 }
.Home-section a p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
     
  }
.Home-Second-Panel{
    text-align: center;
    background-color: #f7f7f7;
}

 section{
    display: inline-block;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background: white;
    box-shadow: 0px 0px 1px 0px rgba(0, 0,0, .5);
    
}
section a{
   text-decoration: none;
}
 section p{
    color: black
 }
 section h3,.Home-Second-Panel section p:last-child{
    color: rgb(20, 65, 148);
 }

.Home-Third-Panel{
    /* background-image:url(img/panel2.png) ; */
    text-align: center;
    background-color: rgb(27, 75, 64);
    margin: 50px 0px;
    padding: 10px;
    height: 800px;
    
 
}
.Home-Third-Panel section{
    background: none;
    box-shadow:none;
 

}
.Home-Third-Panel section p{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
    

}
.Home-Third-Panel h1{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
 
 }
.Home-Third-Panel section h3{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
 
 }


 .Services{
     text-align: center;
     background-color: white;
 }
 .Services table{
    width: 100%;
}
 .Service-image,.Service-section{
     display: inline-block;
     margin: 20px;
 }
 .Service-image img{
    width: 50%;
}


.new{
    text-align: center;
}
.new ul li{
   list-style-type: none;
}
.new ul{
    display: flex;
    justify-content: center;
 }
 .new ul li{
    padding: 0px 20px 20px 20px;
 }



@media all and (min-width:960px){
    .Home-image img{
        width: 100%;
    }
    .Home-Third-Panel{
        /* background-image:url(img/panel2.png) ; */
        height: 350px;
        
     
    }
    .Service-image img{
        width: 100%;
    }
  

} 