html{
    box-sizing: border-box;
    
}
*,*:before,*:after{
    box-sizing: inherit;
} 
body{
   padding:0px;
   margin: 0px;
   background-color: white;
}
.Home-panel{
    
   position: relative;
   text-align: center;
}
.Home-section,.Home-image{
    display: inline-block;
   
}
.Home-panel img{
    width: 100%;
    height: 340px;
   
}
.Home-title{
    position: absolute;
    top: 20%;
    left: 5%;
    padding: 10px;
   
}


.Home-title a h1{
   color: white;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   
}
.Home-title a {
   text-decoration: none;
    
 }
.Home-title a p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
     
  }
.Home-Second-Panel{
    text-align: center;
    background-color: #f7f7f7;
}

 section{
    display: inline-block;
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background: white;
    box-shadow: 0px 0px 1px 0px rgba(0, 0,0, .5);
    
}
section a{
   text-decoration: none;
}
 section p{
    color: black
 }
 section h3,.Home-Second-Panel section p:last-child{
    color: rgb(20, 65, 148);
 }

.Home-Third-Panel{
    /* background-image:url(img/panel2.png) ; */
    text-align: center;
    background-color: rgb(88, 31, 66);
    margin: 50px 0px;
    padding: 10px;
    height: 800px;
    
 
}
.Home-Third-Panel section{
    background: none;
    box-shadow:none;
    margin: 0px;
 
 

}
.Home-Third-Panel section p{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
    

}
.Home-Third-Panel h1{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
 
 }
.Home-Third-Panel section h3{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
 
 }


 .Services{
     text-align: center;
     background-color: white;

 }
 .Services table{
    width: 100%;
}
 .Service-image,.Service-section{
     display: inline-block;
     margin: 20px;
 }
 .Service-image img{
    width: 50%;
}
/*new style begin*/

.new{
    text-align: center;
}
.active{
    border-bottom: 3px solid rgb(233, 53, 53);
}
/*List style begin*/
.list-items-dek-view li,.list-items-mob-view li{
   list-style-type: none;
   cursor: pointer;
}
.list-items-dek-view{
    display: grid;
    justify-content: center;
 }
 .list-items-mob-view{
    padding: 0px 0px;
    background-color: rgb(88, 31, 66);
    
 }
 .list-items-mob-view .lb-trigger {
     text-align: left;
     padding: 18px 10px;
     border-bottom: 1px solid #f7f7f7;
     color: white;
     width: 100%;
 }
 
 .container-wrapper {
    margin: 20px 0px;
}
 .lb-trigger{
     display: flex;
     flex-wrap: wrap;
     
 }
 .lb-active + .lb-container{
    display: block;
} .lb-container{
     display: none;
 }
 
 .lb-trigger div{
    flex: 1;
    
}

.lb-hide{
    display: none;
}

 

 .list-items-dek-view li{
    padding:  20px;
 }
 .list-items-dek-view {
    padding:  0px;
 }
 /*List style end*/

 /*arrow animation start*/
.ArrowDown{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
.ArrowDown-open{
    transition: transform 0.3s ease-in;
    transform: rotate(180deg)
}
 /*arrow animation end*/
 #Finance{
     visibility: hidden;
 }
 #Manufacturing img{
     width:80%;
    
 }
 .new-section{
     height: 400px;
 }
 .new-section {
    display:grid;
    
}
.list-items-dek-view,.canbehidde {
    display: none;
}

 
 /*new style end*/


@media all and (min-width:960px){
    .list-items-dek-view,.canbehidde {
        display: block;
    }
    .list-items-mob-view{
        display: none;
    }
    .Home-image img{
        width: 100%;
    }
    .Home-Third-Panel{
        /* background-image:url(img/panel2.png) ; */
        height: 350px;
        
     
    }
    .Service-image img{
        width: 100%;
    }
    .Home-title{
        position: absolute;
        top: 20%;
        left: 20%;
       
    }
    .new-section {
        display:flex;
        justify-content: center;
    }
    .list-items-dek-view{
        display: flex;
        justify-content: center;
     }
     .list-items-dek-view li{
        padding: 0px 20px 20px 20px;
     }
  

} 