html{
    box-sizing: border-box;
    
}
*,*:before,*:after{
    box-sizing: inherit;
} 
body{
   padding:0px;
   margin: 0px;
  
  

   
   

}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transform: translate(0,-200px);
   
 
     /* transform: translate(0,-200px);
    opacity: 0;
    visibility: hidden;  */

}
.overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.198);
    visibility: hidden;
 
  
}
.overlay.x-active{
    visibility: visible;
    

  
}


.main-body{
    background-color: white;

    
   
   
}
.relative{
    position: relative;
    padding-bottom: 10%;
    background-color: white;
}
.Home-panel{
    
   position: relative;
   text-align: center;
}
.Home-section,.Home-image{
    display: inline-block;
   
}
.Home-panel img{
    width: 100%;
    height: 340px;
   
}
.Home-title{
    position: absolute;
    top: 20%;
    left: 5%;
    padding: 10px;
   
}


.Home-title a h1{
   color: white;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   
}
.Home-title a {
   text-decoration: none;
    
 }
.Home-title a p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
     
  }
.Home-Second-Panel{
    text-align: center;
   
}
/**---------------------------Services pages begin---------------*/
.services-first-section{
    text-align: center;
}

.services-first-section-items{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 2%), 0 2px 4px rgb(0 0 0 / 2%), 0 4px 8px rgb(0 0 0 / 2%), 0 8px 16px rgb(0 0 0 / 2%), 0 16px 32px rgb(0 0 0 / 2%), 0 32px 64px rgb(0 0 0 / 2%);
    background: #ffffff;
    border-radius: 10px;
}
.services-first-section-items h3{
    font-weight: 400;
    line-height: 42px;
    color: #1F2C46;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
    font-size:28px;
}
.services-third-section {
   text-align: center;
   padding:50px 0px ;
}
.services-third-section img {
    width: 100%;
    height: auto;
 }
 .services-four-section{
    height: 600px;      
    margin-bottom: 100px;          
    
    background-image: linear-gradient(to right, rgb(37, 117, 155) , rgb(20, 100, 110));
}

.services-table {
   text-align: center;
   padding: 10px 0px;
   margin-right: 40px;
  
 

  
}
li.tbisactive{
   
    background-color:rgb(38, 84, 122) ;
    
   
}

.service-tb-list-menu li{
    display: block;
    width: auto;
   
    box-shadow: 2px 0px 2px 0px rgb(22, 56, 85);
    border-radius: 10px;
    display: inline-block;
    padding: 20px 10px;
    margin: 5px 1px;
    cursor: pointer;
    
}
.service-tb-list-menu li,.service-tb-content-grid li{
   list-style-type: none;
   color: white;
   font-size: 20px;
  

}

.services-tab-content {
    display: flex;
    justify-content: center;
    gap: 10%;
   
}
.service-tb-content-grid li{
    margin: 10px;
}



.legrowtech-description{
    font-size: 18px;
    color: #363947;
    font-weight: 300;
    text-align: left;
}
.ss-flex-item-title h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 42px;
}
.sfsi-image img{
    width: 100px;
}
.sfsi-image{
    text-align: left;
}
.services-second-section-flex{
   padding: auto;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    
}
.ss-list-items{
    list-style-type: none;
    
    padding: 0px;
    
}
.ss-list-items li{
    padding: 5px 0px;
    
}

.ss-grid-items{
    box-shadow: 0 1px 2px rgb(0 0 0 / 2%), 0 2px 4px rgb(0 0 0 / 2%), 0 4px 8px rgb(0 0 0 / 2%), 0 8px 16px rgb(0 0 0 / 2%), 0 16px 32px rgb(0 0 0 / 2%), 0 32px 64px rgb(0 0 0 / 2%);
    background: #ffffff;
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 10px;
}
.ss-inline-item{
    margin: 10px;
}
.ss-flex-item-title{
    margin-left: 50px;
}
.ss-inline-item h3{
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    
}



/*----------------service pages end*/
 section{
    display: inline-block;
    width: 250px;
    height: 150px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background: white;
    box-shadow: 0px 0px 1px 0px rgba(0, 0,0, .5);
    
}
section a{
   text-decoration: none;
}
 section p{
    color: black
 }

 .Home-Second-Panel section  h2{
    color: rgb(20, 65, 148);
   
 }
 .Home-Second-Panel section  h2{
  font-size: 19px;
}


.Home-Third-Panel{
    /* background-image:url(img/panel2.png) ; */
    text-align: center;
    background-color: rgb(30, 85, 131);
    background-image: linear-gradient(to right, rgb(37, 117, 155) , rgb(20, 100, 110));
    margin: 50px 0px;
    padding: 10px;
    height: auto;
    
 
}
.Home-Third-Panel section{
    background: none;
    box-shadow:none;
    margin: 0px;
 
 

}
.Home-Third-Panel section p{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
    

}
.Home-Third-Panel h1{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
 
 }
.Home-Third-Panel section h2{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
 
 }

/* services style begin*/

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.isactive{
    transform: translateY(0px);
    opacity: 1;
}
.hand-services h2{
font-size: 30px;
text-align: center;
text-transform: uppercase;

}
.hand-services {
    margin: 5px;
    }
.cards_services{
    display: flex;
    flex-direction: column;
}
/* .cards_services .text-cards h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
} */
.cards_services .text-cards{
   
    margin: 20px;
    padding: 20px;
    position: relative;
    text-align: center;

}
.cards_services .text-cards a{
   
  text-decoration: none;
}
.paragraph-text{
   
    text-decoration: none;
    text-align: left;
}
.paragraph-text h3{
   
   font-size: 20px;
   text-transform: uppercase;
   color: rgb(22, 87, 112);
   margin: 10px;
   
   

}
.paragraph-text p{
   
    color: black;
    margin: 10px;

   
 
 }
.legrowtech-text-postion.center{
    position: absolute;
    top:35%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.legrowtech-text-postion.center h3{

    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
    margin-left:30px ;
    color: white;
    font-size:28px;
}
.text-cards img{
    width: 100%;
    height: auto;
    border-radius: 50px;
    


}
/* services style begin*/
 .Services{
     background-color: white;
    

 }
 .services-title-section{
    margin: 0px 10%;
}
.legrowtech-title{
    font-size: 42px;
    font-weight: 400;
    margin: 10px;
    text-align: center;
    
}
.legrowtech-description{
    font-size: 18px;
    color: #363947;
    font-weight: 300;
    text-align: left;
}

.grid-img{
text-align: left;
}
.service-grid-item .grid-img img{
    width: 100px;
    
}
.service-grid-item h3{
    font-weight: 400;
    margin-top: 5px;
    font-size: 21px;
    vertical-align: baseline;
}
.legrowtech-text{
    font-size: 18px;
    color: #565B73;
    font-weight: 300;
    text-align: center;
}
.service-grid-item{
    display: inline-block;
    height: 400px;
    width: 300px;
    padding: 25px;
    margin: 10px 15px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 2%), 0 2px 4px rgb(0 0 0 / 2%), 0 4px 8px rgb(0 0 0 / 2%), 0 8px 16px rgb(0 0 0 / 2%), 0 16px 32px rgb(0 0 0 / 2%), 0 32px 64px rgb(0 0 0 / 2%);
    background: #ffffff;
}
.services-grid{
   text-align: center;
}


/* services style end*/
/*new style begin*/

.new{
    text-align: center;
    padding-bottom: 50px;
}
.active{
    border-bottom: 3px solid rgb(233, 53, 53);
}

/*List style begin*/
.list-items-dek-view li,.list-items-mob-view li{
   list-style-type: none;
   cursor: pointer;
}
.list-items-dek-view{
    display: grid;
    justify-content: center;
 }
 .list-items-mob-view{
    padding: 0px 0px;
    background-color: rgb(30, 85, 131);
    
 }
 .list-items-mob-view .lb-trigger {
     text-align: left;
     padding: 18px 10px;
     border-bottom: 1px solid #f7f7f7;
     color: white;
     width: 100%;
 }
 
 .container-wrapper {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}
.container-wrapper-noflex{
    margin: 20px 0px;
}
.container-wrapper img,.container-wrapper-noflex img{
    width: 100%;
    height: auto;
}
 .lb-trigger{
     display: flex;
     flex-wrap: wrap;
     
 }
 .lb-active + .lb-container{
    display: block;
} .lb-container{
     display: none;
 }
 
 .lb-trigger div{
    flex: 1;
    
}

.lb-hide{
    display: none;
}

 

 .list-items-dek-view li{
    padding:  20px;
 }
 .list-items-dek-view {
    padding:  0px;
 }
 /*List style end*/

 /*arrow animation start*/
.ArrowDown{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
.ArrowDown-open{
    transition: transform 0.3s ease-in;
    transform: rotate(180deg)
}
 /*arrow animation end*/


 .item-solution{
     height:auto;

 }
 .item-solution {
    flex-direction: column;
   
}
.item-solution img,.item-solution-noflex img{
   border-radius: 10px;
   width: 100%;
   height: auto;

 
}
.item-solution-noflex{
    position: relative;
    text-align: center;
}
.item-solution-noflex div{
    position: absolute;
    top: 10%;
    left: 50%;
  
}
.item-solution-noflex div h3{
  
    color: white;
    font-size: 30px;
    margin: 10px;
    text-transform: uppercase;
}
.item-solution-noflex div p{
  
    color: white;
    font-size: 20px;
    
}
.item-solution-noflex a{
   text-decoration: none;
}

.item-solution div{
    margin: 0px 100px auto 0px;
  
 }
.list-items-dek-view,.canbehidde {
    display: none;
}

 
 /*new style end*/
/*slider anim begin*/
.body-slider{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 31, 66);
    
}
.slider{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    /* border-radius: 10px; */
    
}
.slides{
   width: fit-content;
   display: flex; 
   margin: 0 auto;

}
.slides input{
    display: none;
}
.carossel-item-text,.carossel-item-img{
    flex: 100%;
    text-align: left;
  
   
  
}

.carossel-item-text h1,.carossel-item-text p{
    color: #f7f7f7;
     
}
.carossel-item-text h1{
   font-weight:900;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
     
}
.carossel-item-text p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
      
 }


.carossel-item-img img{
    width: 250px;
}
/* .slides img{
    width: 100%;
    height: 500px;
} */
.slide{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 0px 2%;
    
}
.desc-1{
    background-image: url(img/background-stat.png);
    background-position:0 ;
    background-repeat:no-repeat ;
    background-size:cover ;
}
.desc-2{
    background-image: url(img/background-assisance.png);
    background-position:0 ;
    background-repeat:no-repeat ;
    background-size:cover ;
}
.desc-3{
    background-image: url(img/background-learning.png);
    background-position:0 ;
    background-repeat:no-repeat ;
    background-size:cover ;
}
.navigation-manual{
    position: absolute;
    width: 100%;
    left: 0;
    top: 290px;
    display: none;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #aab7b8;
   padding: 4px;
   border-radius: 11px;
   cursor: pointer;
   transition: 0.1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #e4ecec;
}
#radio1:checked ~ .first{
    margin-left:0%;
    transition: margin 1s;
}
#radio2:checked ~ .first{
    margin-left:-33.5% ;
    transition: margin 1s;
}
#radio3:checked ~ .first{
    margin-left:-67% ;
    transition: margin 1s;
 
}
.navigation-auto{
    position: absolute;
    display: none;
    width: 100%;
    justify-content: center;
    left: 0;
    top: 290px;
}
.navigation-auto div{
    border: 2px solid #aab7b8;
    padding: 4px;
    border-radius: 10px;
    transition: 0.1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #e4ecec;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #e4ecec;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #e4ecec;
}
/*slider anim end*/

/*arrow style begin*/

#arrow-right{
    position: absolute;
    box-sizing: border-box;
    border-width: 0px 3px 3px 0px;
    border-color: #d5dbdb;
    transform: rotate(-40deg) skew(10deg);
    border-style: solid;
    right: 27px;
    height: 2em;
    width: 2em;
    top:180px;
    cursor: pointer;
   
}
#arrow-left{
    position: absolute;
    box-sizing: border-box;
    border-width: 0px 3px 3px 0px;
    border-color: #d5dbdb;
    transform: rotate(140deg) skew(10deg);
    border-style: solid;
    left: 27px;
    height: 2em;
    width: 2em;
    top:180px;
    cursor: pointer;
}
#arrow-right:hover,#arrow-left:hover{
    border-color: #ffffff;
}

/*----------------------------- services header style begin  -------------------*/
.legrowtech-services-web{
    padding: 0 8%;
    padding-top: 50px;
   
}
.web{
   
    background-color: white;
}
.services-header{
    text-align: center;
}
.services-header.small h2{
    
    font-weight: 400;
    padding-top: 50px;
    line-height: 42px;
    margin-bottom: 5px;
    margin: 0;
    
}
.services-header.white h2{
    color: white;
}
.services-header.white h3{
    color: white;
}
.services-header.large h2{
    
    font-weight: 400;
    padding-top: 50px;
    line-height: 42px;
    margin-bottom: 5px;
    margin: 0;
    
}
.services-header h3{
    font-size: 25px;
   
    color: rgb(73, 73, 73);
}
.web-section{
    padding-bottom: 50px;
}
.web-section img{
    width: 100%;
    height: auto;
}


.web-section:last-child{
    margin-left: 0px;
  
}

.web-section-inside{
    display: inline-grid;
    grid-template-columns: auto auto ;
    column-gap: 30px;
  
}
.web-title{
    font-size: 30px;
}
.web-bottom-title{
    font-size: 20px;
    color: rgb(98, 98, 98);
}
/*-------------legrowtech btn style start and general style --------------------------*/





/*-------------legrowtech btn style end --------------------------*/


/*----------------------------- services header style end -------------------*/



/*------------services style begin*-----------------------/


/*--------------services style end*------------------------/
   

/* @media all and (min-width: 388px) {
 
    .slider{
        height: 320px;
       
        
    }
    
} */
.service-tab-active[data-tab-content]{
        display: flex;
    }
@media all and (min-width:960px){
   
    .list-items-dek-view,.canbehidde {
        display: block;
    }
  
    .list-items-mob-view{
        display: none;
    }
    .Home-image img{
        width: 100%;
    }
   
    .Service-image img{
        width: 100%;
    }
    .Home-title{
        position: absolute;
        top: 20%;
        left: 20%;
       
    }
    .item-solution{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .list-items-dek-view{
        display: flex;
        justify-content: center;
     }
     .list-items-dek-view li{
        padding: 0px 20px 20px 20px;
     }
     .slide{
        flex-wrap:nowrap;

        
    }
    .carossel-item-text,.carossel-item-img{
        flex: 50%;
       
      
    }
   
    .carossel-item-img img{
        width: 400px;
    }
    #arrow-left,#arrow-right{
            top: 100px;
    }   
    .navigation-auto,.navigation-manual{
        display: flex;
    }
    /*style start*/

    .cards_services{
        flex-direction:row;
    }
    .legrowtech-text-postion.center h3{
        font-size:initial;
    }
    .hand-services {
        margin: 100px;
        }

    /*style end*/

    /* services web style begin */

    .services-header.large h2{
        font-size: 75px;
    }
    .services-header.small h2{
        font-size: 40px;
    }

    .web-section img{
        width:initial;
    }
    .web-section:last-child{
        margin-left: 80px;
    }
    /*services web style end*/
   
    /*service home begin*/
    .services-title-section{
        margin: 0px 20%;
    }

    /*service home end*/
    /* .slider{
        height: 300px;
       
        
    } */
    /*new style begin*/
    [data-tab-content]{
        display: none;
    }
    .tab-active[data-tab-content]{
        display: flex;
    }
    
  

        /*new style end*/

        /*------------------services page begin desktop----------*/

        .services-first-section-items{
            height: 300px;
            width: 400px;
            margin: 10px 15px;
            padding: 25px;
          
         
        }
        .services-third-section img {
            width: auto;
            height: auto;
         }
    
        .services-second-section-flex{
            padding-left: 20%;
            padding-right: 20%;
            flex-direction: row;
          
        }
      
        .ss-grid-items{
            width: 300px;
            height: 150px;
            padding: 10px;
            margin: 15px 0px;
       
        }

        .service-tb-list-menu li{
            padding: 20px 40px;
            width: unset;
            margin: 2px 1px;
         
        }
        .services-four-section{
            height: 450px;      
           
        }
      

            /*------------------services page begin end----------*/
}

