.footer{
   
    background-color: rgb(30, 85, 131);
    background-image: linear-gradient(to right, rgb(37, 117, 155) , rgb(20, 100, 110));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px 40px 0px;
  

}
.footer-item ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.footer-item ul li{
    margin: 10px;
    color: white;
}
.footer-item{
    margin: auto;
}
.bold-text{
    font-weight: bold;
    text-transform: uppercase;
}
