header {
    background-color: #272727;
    position: relative;
  
}
/**---------------------------Services pages begin---------------*/
.services-first-section{
    text-align: center;
}
.services{
    background: #ffffff;
}
.services-first-section-items{
    display: inline-block;
    height: 300px;
    width: 400px;
    padding: 25px;
    margin: 10px 15px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 2%), 0 2px 4px rgb(0 0 0 / 2%), 0 4px 8px rgb(0 0 0 / 2%), 0 8px 16px rgb(0 0 0 / 2%), 0 16px 32px rgb(0 0 0 / 2%), 0 32px 64px rgb(0 0 0 / 2%);
    background: #ffffff;
    border-radius: 10px;
}
.services-first-section-items h3{
    font-weight: 400;
    line-height: 42px;
    color: #1F2C46;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
    margin:10px ;
    font-size:28px;
}
.legrowtech-description{
    font-size: 18px;
    color: #363947;
    font-weight: 300;
    text-align: left;
}
.services-second-section-flex{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    
}

.ss-grid-items{
    box-shadow: 0 1px 2px rgb(0 0 0 / 2%), 0 2px 4px rgb(0 0 0 / 2%), 0 4px 8px rgb(0 0 0 / 2%), 0 8px 16px rgb(0 0 0 / 2%), 0 16px 32px rgb(0 0 0 / 2%), 0 32px 64px rgb(0 0 0 / 2%);
    background: #ffffff;
    width: 280px;
    height: 150px;
    padding: 10px;
    margin: 5px 0px;
    border: 10px;
}
.ss-inline-item{
    display: inline-block;
    margin: 10px;
}
.ss-flex-item-title{
    margin-left: 50px;
}


/*----------------service pages end*/
/* .overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    width: 800px;
    height: 600px;
    background-color:rgba(0, 0, 0, 0.507);
    visibility: hidden;
  
}
.overlay.x-active{
    visibility:visible;
  
} */

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; 
    opacity: 0;
    visibility: hidden;
    transform: translate(0,-200px);
   
 
     /* transform: translate(0,-200px);
    opacity: 0;
    visibility: hidden;  */

}
.in-view{
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform: translate(0,0);

}
/* .in-view{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform: translate(0,0);

} */

.header-item{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
   
    
}

.header-option{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.logo{
    flex:4;
  
}
.heard-bar{
    flex: 4;
    list-style-type: none;
    text-align: right;
    margin: 20px 20px 0px 20px ;
    padding-top: 6px;
    display: block;
}

.item{
    list-style-type: none;
    color: #f7f7f7;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    border-bottom: 1px solid #d6d4d427;
    padding:20px;
    display: none;

    
   
}
.select .item{
    display: grid;
    grid-template-columns: 16fr 1fr;
}

.ChevronDown{
   display: none;
}
.Plus{
    display: inline-block;
  
}
.bschevrondown{
    display: none;
}
/* .submenu {
    display: none;
} */
.submenu {
    display: none;
    list-style-type: none;
    

 }
.submenu-active .submenu {
   display: block;
}
.subitem, .subitem .link {
    
    text-decoration: none;
    color: #d4d4d4;
    display: block;
 
}

.subitem{
   padding: 8px 0px;

}


.header-option .item {
    font-size: 15px;
    margin: 0px ;
    width: 100%;
    
}

.logo {
    
    list-style-type: none; 
    color: #f7f7f7;
    margin: 5px 0px;
}

.item:hover{
   color: rgb(228, 215, 41);
   cursor: pointer;
}

/*account theme begin*/
.account{
    background-color: rgb(240, 239, 239);
    color: black;
    padding: 10px;
    margin-top: 5px;
    display: none;
}

.Products,.Solution{
    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 10;
    top:109px;
    left: 0;
    background-color: #252525;
    width: 90%;
   border-radius: 30px;
    margin: 0px 50px;
    transform: translate(0,-80px);
    visibility: hidden;

}
.Product-section{
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 10px;
    background: none;
    box-shadow: none;
   
   
    
}
.Product-section h2 a{
    text-decoration: none;
    color: #f7f7f7;
    font-size: 17px;
}
.Product-section p {
    color: #dadada;
    
}
.Product-section h2 a:hover{
   color: rgb(228, 215, 41);
}
.account li a:hover{
    color: rgb(0, 110, 255);
 }
 .account li a{
     text-decoration: none;
     color: black;
 }

  /**overlay*/


@media (min-width:600px) {
    .dropdown a:hover >.account{
        display: block;
      visibility: visible;
      
    }
    .dropdown a >.account{
        display: block;
       visibility: hidden;
    }
    .dropdown a:hover > .Products  {
        visibility: visible;
       transition: all 0.3s ease;
       transform: translate(0,0);
       transition-delay:0.2s ;
     
      
    }
    .dropdown a > .Products {
        visibility: hidden;
    
   }
  

   
   
  
    
      .item,.header-option .item{
          display: block;
          width: auto;
          border: none;
          padding: 0px 5px ;
         
      }
      .item a{
          display: block;
          height: 45px;
          padding: 0px 10px;
      }
      .header-option .item{
        margin: 20px 2px 0px 0px ;
       
    }
      .header-item,.header-option{
          flex-wrap: nowrap;
          
      }
      .heard-bar{
          display: none;
      }
      .ChevronDown:hover{
        transform: translate(0,5px);
    
        
    } 
    .ChevronDown{
        display: inline-block;
    
        
    } 
    .Plus{
        display: none;
    }
    .bschevrondown{
        display: inline-block;
    }
    .header-item .item,.header-option .item{
       display: block;
    }
    .submenu-active .submenu {
        display: none;
     }
     .fixed{
        position: fixed; 
    
    }
     
    
   
    
    
}
      
      