header {
    background-color: rgb(68, 21, 50);
    
  
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; 
     /* transform: translate(0,-200px);
    opacity: 0;
    visibility: hidden;  */

}
/* .in-view{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform: translate(0,0);

} */

.header-item{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
   
    
}

.header-option{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.logo{
    flex:4;
  
}
.heard-bar{
    flex: 4;
    list-style-type: none;
    text-align: right;
    margin: 20px 20px 0px 20px ;
    display: block;
}

.item{
    list-style-type: none;
    color: #f7f7f7;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    border-bottom: 1px solid #d6d4d427;
    padding:20px;
    display: none;

    
   
}
.select .item{
    display: grid;
    grid-template-columns: 16fr 1fr;
}

.ChevronDown{
   display: none;
}
.Plus{
    display: inline-block;
  
}
/* .submenu {
    display: none;
} */
.submenu {
    display: none;
    list-style-type: none;
    

 }
.submenu-active .submenu {
   display: block;
}
.subitem a {
    
    text-decoration: none;
    color: #d4d4d4;
    display: block;
 
}
.subitem{
   padding: 8px 0px;

}


.header-option .item {
    font-size: 15px;
    margin: 0px ;
    width: 100%;
    
}

.logo {
    
    list-style-type: none; 
    color: #f7f7f7;
    margin: 5px 0px;
}

.item:hover{
   color: rgb(228, 215, 41);
   cursor: pointer;
}





.Products,.Solution{
    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 1;
    top:109px;
    left: 0;
    background-color: rgb(88, 31, 66);
    width: 90%;
    background-color: rgb(63, 20, 47);
    margin: 0px 50px;
    transform: translate(0,-80px);
    visibility: hidden;

}
.Product-section{
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 10px;
    background: none;
    box-shadow: none;
   
    
    
}
.Product-section h2 a{
    text-decoration: none;
    color: #f7f7f7;
    font-size: 17px;
}
.Product-section p {
    color: #dadada;
    
}
.Product-section h2 a:hover{
   color: rgb(228, 215, 41);
}

@media (min-width:600px) {
    .dropdown a:hover > .Products {
        visibility: visible;
       transition: all 0.3s ease;
       transform: translate(0,0);
       transition-delay:0.2s ;
     
      
    }
     .dropdown a > .Products {
         visibility: hidden;
     
    }
    
  
    
      .item,.header-option .item{
          display: block;
          width: auto;
          border: none;
          padding: 0px 5px ;
         
      }
      .item a{
          display: block;
          height: 45px;
          padding: 0px 10px;
      }
      .header-option .item{
        margin: 20px 2px 0px 20px ;
       
    }
      .header-item,.header-option{
          flex-wrap: nowrap;
          
      }
      .heard-bar{
          display: none;
      }
      .ChevronDown:hover{
        transform: translate(0,5px);
    
        
    } 
    .ChevronDown{
        display: inline-block;
    
        
    } 
    .Plus{
        display: none;
    }
    .header-item .item,.header-option .item{
       display: block;
    }
    .submenu-active .submenu {
        display: none;
     }
     
    
   
    
    
}
      
      