header {
    background-color: #272727;
  
  
}




.in-view{
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform: translate(0,0);

}
/* .in-view{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform: translate(0,0);

} */

.header-item{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
   
    
}

.header-option{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.logo{
    flex:4;
  
}
.heard-bar{
    flex: 4;
    list-style-type: none;
    text-align: right;
    margin: 10px 20px 0px 20px ;
    padding-top: 6px;
    display: block;
    cursor: pointer;
}

.item{
    list-style-type: none;
    color: #f7f7f7;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    border-bottom: 1px solid #d6d4d427;
    display: none;
    

    
   
}
.item a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.header-container.select{
    position: relative;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 4;
    height: 600px;
    padding-bottom: 30px;
    
    

}


.select .item{
    display: grid;
    grid-template-columns: 16fr 1fr;
   
}




.ChevronDown{
   display: none;
}
.Plus{
    display: inline-block;
  
}
.bschevrondown{
    display: none;
}
/* .submenu {
    display: none;
} */
.submenu {
    display: none;
    list-style-type: none;
    

 }
 /* .subitem:hover{
    color: rgb(228, 215, 41);
   cursor: pointer;
 } */
.submenu-active .submenu {
   display: block;
}
.subitem, .subitem .link {
    
    text-decoration: none;
    color: #d4d4d4;
    display: block;
 
}

.subitem{
   padding: 8px 0px;

}


.header-option .item {
    font-size: 15px;
    margin: 0px ;
    width: 100%;
    
}

.logo {
    
    list-style-type: none; 
    color: #f7f7f7;
   
}

.item:hover{
   color: rgb(228, 215, 41);
   cursor: pointer;
}

/*account theme begin*/
.account{
    background-color: rgb(240, 239, 239);
    color: black;
    padding: 10px;
    margin-top: 5px;
    display: none;
}

/* .Products,.Solution{
    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index:5;
    top:109px;
    left: 0;
    background-color: #252525;
    width: 90%;
   border-radius: 30px;
    margin: 0px 50px;
    transform: translate(0,-80px);
    visibility: hidden;

} */
.Product-section{
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 10px;
    background: none;
    box-shadow: none;
   
   
    
}
.Product-section h2 a{
    text-decoration: none;
    color: #f7f7f7;
    font-size: 17px;
}
.Product-section p {
    color: #dadada;
    
}
.Product-section h2 a:hover{
   color: rgb(228, 215, 41);
}
.account li a:hover{
    color: rgb(0, 110, 255);
 }
 .account li a{
     text-decoration: none;
     color: black;
 }

  /**overlay*/


@media (min-width:600px) {
    /* .dropdown a:hover >.account{
        display: block;
      visibility: visible;
      
    }
    .dropdown a >.account{
        display: block;
       visibility: hidden;
    } */
    /* .dropdown a:hover > .Products  {
        visibility: visible;
       transition: all 0.3s ease;
       transform: translate(0,0);
       transition-delay:0.2s ;
     
      
    }
    .dropdown a > .Products {
        visibility: hidden;
    
   } */
  

   
   
  
    
      .item,.header-option .item{
          display: block;
          width: auto;
          border: none;
          padding: 0px 5px ;
         
      }
      .item a{
          display: block;
          padding: 0px 10px 15px 10px ;

     
        
         
      }
      .item a{
        text-decoration: none;
        color: white;
    }
      .header-option .item{
        margin: 20px 2px 0px 0px ;
       
    }
      .header-item,.header-option{
          flex-wrap: nowrap;
          
      }
      .heard-bar{
          display: none;
      }
      .ChevronDown:hover{
        transform: translate(0,5px);
    
        
    } 
    .ChevronDown{
        display: inline-block;
    
        
    } 
    .Plus{
        display: none;
    }
    .bschevrondown{
        display: inline-block;
    }
    .header-item .item,.header-option .item{
       display: block;
    }
    .submenu-active .submenu {
        display: none;
     }
     .fixed{
        position: fixed; 
    
    }
  
    
   
    
    
}
      
      