
  .l-banner-jb img{
    width: 100%;
    height: auto;
    
}
.l-content-why{
    padding-top: 100px;
}
.jb-grid-items{
    text-align: center;
}
.jb-item{
    display: inline-block;
    width: 250px;
    height: 150px;
    background: #ffffff;
    margin: 10px;
    padding: 10px;
}
.text-teal{
    color: #49AAAF;
}
.text-pink{
    color: #DF1995;
}
.text-blue{
    color: #3359DF;
}
.jb-item h4{
    font-size: 42px;
    margin: 0px;
    font-weight: bold;
   
}
.l-space-jbd{
  width: 100px;
  margin: 20px 0px;
  padding: 20px 0px;
}

.l-right-content-jbd{
    width: 100%;
  
}
.l-right-content-jbd p{
    font-weight: 400;
    line-height: 1.2em;
    font-size: 17px;
    
}
.l-container-flex-jbd{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
}
.l-content-list-jb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.l-btn{
    width: 250px;
    height: 50px;
    background-color: rgb(15, 147, 199);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.jb-items{
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 200px;
    text-align: center;
    
}

.jb-items a{
    text-decoration: none;
    color: rgb(0, 10, 15);
}
.l-content-jb,.l-container-jbd{
  padding: 0px 5px;
  margin: 0px 10px;
}


@media (min-width:950px) {
  
    .l-content-list-jb,.l-container-flex-jbd{
        flex-wrap: nowrap;
        justify-content: left;
    }
    .l-content-jb,.l-container-jbd{
        padding: 0px 40px;
        margin: 0px;
      }
      .l-right-content-jbd{
        width: 50%;
    }
    .jb-item{
    
        margin: 20px;
    }

}