
  .l-banner-jb img{
    width: 100%;
    height: auto;
    
}
.l-content-why{
    padding-top: 100px;
}
.jb-grid-items{
    text-align: center;
}
.jb-item{
    display: inline-block;
    width: 250px;
    height: 150px;
    background: #ffffff;
    margin: 10px;
    padding: 10px;
}
.text-teal{
    color: #49AAAF;
}
.text-pink{
    color: #DF1995;
}
.text-blue{
    color: #3359DF;
}
.jb-item h4{
    font-size: 42px;
    margin: 0px;
    font-weight: bold;
   
}
.l-space-jbd{
  width: 100px;
  margin: 20px 0px;
  padding: 20px 0px;
}

.l-right-content-jbd{
    width: 100%;
  
}
.l-right-content-jbd p{
    font-weight: 400;
    line-height: 1.2em;
    font-size: 17px;
    
}
.l-container-flex-jbd{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
}
.l-content-list-jb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.l-btn{
    width: 250px;
    height: 50px;
    background-color: rgb(15, 147, 199);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.jb-items{
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 200px;
    text-align: center;
    
}

.jb-items a{
    text-decoration: none;
    color: rgb(0, 10, 15);
}
.l-content-jb,.l-container-jbd{
  padding: 0px 5px;
  margin: 0px 10px;
 
}
.l-container-jbd h2{
    margin: 0px;
    padding-top: 50px;
}
.dot{
    height: 5px;
    width: 5px;
    margin-bottom: 2px;
    margin-right:4px ;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

.custom-select-input{
    border-radius: 4px;
    padding-left: 20px;
    font-size: .9rem;
    box-shadow: 0 0 3px 0 rgb(53 49 46 / 20%);
  
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem 1rem;
    border-color: #fff;
    color: #35312e;
    background-color: transparent;
    margin: 0px 5px;
}


.jbs-dropdown-menu{
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #35312e;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.custom-select-input:focus+.jbs-dropdown-menu{
    display: block;
    
}
.jbs-dropdown-menu:hover{
    display: block;
}

.jbs-dropdown-menu button{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.jbs-relative-groups{
    display: inline-block;
    position: relative;
    
    
}
.jbs-dropdown{
    text-align: center;
}

@media (min-width:950px) {
  
    .l-content-list-jb,.l-container-flex-jbd{
        flex-wrap: nowrap;
        justify-content: left;
    }
    .l-content-jb,.l-container-jbd{
        padding: 0px 40px;
        margin: 0px;
      }
      .l-right-content-jbd{
        width: 50%;
    }
    .jb-item{
    
        margin: 20px;
    }
    .custom-select-input{
        padding: .375rem 2rem;
    }
    .jbs-dropdown{
        text-align: left;
    }

}