html{
    box-sizing: border-box;
    
}
*,*:before,*:after{
    box-sizing: inherit;
} 
body{
   padding:0px;
   margin: 0px;
   background-color: white;
}
.login-form{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: white;
    padding: 20px;
    width: 300px;
    z-index: 10;
    
}
.error{
    color: red;
}

.form-label{
    color: rgb(83, 83, 83);
    font-size: 18px;
}
.form-input{
    width: 250px;
    height: 40px;
    outline-color: rgb(77, 190, 255);
    
 
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
@media all and (min-width:960px){
    .login-form{
        width: 400px;
    }
    .form-input{
        width: 300px;
    }
}