html{
    box-sizing: border-box;
    
}
*,*:before,*:after{
    box-sizing: inherit;
} 
body{
   padding:0px;
   margin: 0px;
 
}
.login-header h3:last-child{
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
}
.login-header img{
   width: 100px;
}
.login-form{
   
    position: absolute;
    left: 50%;
    transform: translate(-50%,20%);
    text-align: center;
   
    
}
.error{
    color: red;
}

.form-input{
    min-width: 280px;
    width: 100%;
    height: 45px;
    outline-color: rgb(77, 190, 255);
    resize: none;
    display: block;
    color: inherit;
    line-height: 1.43;
  
    
 
}
.form{
    text-align: left;
    padding: auto;
    margin: auto;
    
    
  
}
.form-label-text{
    color: rgb(83, 83, 83);
    font-size: 16px;
}
.form-input-btn{
    height: 45px;
    background-color: rgb(75, 159, 207);
    border: none;
    width: 100%;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    
   
}


 @media all and (min-width:960px){
    .form-input{
        width: 350px;       
     
    }
    .form-input-btn{
        width: 350px;
    }
    .form{
        padding: 10px;
        
      
    }
    
   
} 